version: '3.8'

services:
  localrag:
    build: .
    container_name: localrag_app
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    command: 'sh -c "ollama serve & streamlit run app_ui.py --server.port=8501 --server.address=0.0.0.0"'
    depends_on:
      - pushgateway
    environment:
      - PUSHGATEWAY_URL=http://pushgateway:9091

  pushgateway:
    image: prom/pushgateway
    container_name: pushgateway
    ports:
      - "9091:9091"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - pushgateway

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
